<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <% ['August', 'September', 'October', 'November', 'December'].forEach((month) => { %>
        <% if (top[month]){ %>
        <div class="carousel-item">
          <div class="my_border px-3">
            <div style="text-align: center;" class="h4 pb-2 pt-4">
              <%= month %>
            </div>
            <table class="table_w table table-dark">
                <thead>
                  <tr>
                    <th scope="col">Rank</th>
                    <th scope="col">Company</th>
                    <th scope="col">Categories</th>
                    <th scope="col">CBRank</th>
                  </tr>
                </thead>
                <% var count = 1; %>
                <% top[month].forEach((comp_rank_arr) => { %>
                  <tbody>
                        <tr data-index="<%= count %>">
                            <th scope="row"><%= count %></th>
                            <td><%= comp_rank_arr[0] %></td>
                            <td><%= comp_cat[comp_rank_arr[0]].categories %></td>
                            <td><%= comp_rank_arr[1] %></td>
                        </tr>
                        <% count +=1; %>
                  </tbody>
                <% }) %>
            </table>
          </div>
        </div>
        <% } %>
      <% }) %>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>