<div class="col-sm-10 content">
    <div class="title pt-2 pl-2">
      Hot Tech Companies Globally
    </div>
    <div id="data-geo" data-test=<%= comperc %>>
    </div>
    <div class="container-fluid">
      <div class="row mt-1">
        <div class="col-sm-4 py-3">
          <div class="top-card">
            <h5>
              Companies
            </h5>
            <h4>
              357
            </h4>
          </div>
        </div>
        <div class="col-sm-4 py-3">
          <div class="top-card">
            <h5>
              Last updated at
            </h5>
            <h4>
              11-24-2022
            </h4>
          </div>
        </div>
        <div class="col-sm-4 py-3">
          <div class="top-card">
            <h5>
              Current #1 Company 
            </h5>
            <h4>
              Chargezoom
            </h4>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <div class="my_border px-3">
            <h5 class="mt-4 mb-2">Company Count by Country</h5>
            <div>
              <canvas id="canvas"></canvas>
            </div> 
          </div>
        </div>
        <div class="col-sm-4">
          <div class="chart-container">
            <h5 class="mt-4 mb-2">Company Year Founded</h5>
              <canvas id="chart"></canvas>
        </div>
        </div>
      </div>
    </div>
    <div>
      <h4 class="mt-5" style="margin-left: 1rem;">Top 10 / Month</h4>
      <%- include("carousel")  %> 
    </div>
    <div style="margin-left: 1rem;">
      <div class="row py-3">
        <div class="dropdown my_border p-3">
          <h5 class="mb-3">Companies with similarities</h5>
          <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Choose the Company
          </button>
          <ul class="dropdown-menu">
            <% for (const [key, value] of Object.entries(comp_cat)) { %>
              <% if (comp_cat[key]["similarities"] != null) { %>
                <li><a class="dropdown-item"><%= key %></a></li>
              <% } %>
            <% } %>
          </ul>
          <div class="row p-3">
            <% for (const [key, value] of Object.entries(comp_cat)) { %>
              <% if (comp_cat[key]["similarities"] != null) { %>
                <div class="my_border">
                  <div class="p-3">
                    <h4><%= key %></h4>
                    <h4>Categories: <%= comp_cat[key].categories%></h4>
                  </div>
                  <% if (comp_cat[key]["similarities"].length >= 2) { %>
                    <div class="row" style="justify-content: space-evenly;">
                  <% } %>
                  <% if (comp_cat[key]["similarities"].length == 1) { %>
                    <div class="row" style="justify-content: start;"></div>
                  <% } %>
                      <% comp_cat[key]["similarities"].forEach((sim) => { %>
                        <div class="col-md-3 my_border p-2 m-2">
                          <div class="row"><%= sim[0] %></div>
                          <div class="row"><%= sim[1] %></div>
                          <div class="row"><%= comp_cat[sim[0]].categories %></div>
                        </div>
                      <% }) %>
                    </div>
                </div>
              <% } %>
            <% } %>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
      $(document).ready(function () {
        $('.dropdown-menu li a').on('click', function () {
          var txt= ($(this).text());
        });
      });
    </script>
</div>