<div class="col-sm-10 content">
    <div id="data-geo" data-test=<%= comperc %>>
    <div id="data-years" data-test=<%= years %>>
    </div>
    <div class="container-fluid">
      <div class="row mt-1">
        <div class="col-sm-4 py-3">
          <div class="top-card my_border">
            <h6>
              Companies
            </h6>
            <h5>
              357
            </h5>
          </div>
        </div>
        <div class="col-sm-4 py-3">
          <div class="top-card my_border">
            <h6>
              Last updated at
            </h6>
            <h5>
              11-24-2022
            </h5>
          </div>
        </div>
        <div class="col-sm-4 py-3">
          <div class="top-card my_border">
            <h6>
              Current #1 Company 
            </h6>
            <h5>
              PhotoRoom
            </h5>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <div class="my_border p-2" style="height: 100%;">
            <h5 class="mb-2">Company Count by Country</h5>
            <div>
              <canvas id="canvas"></canvas>
            </div> 
          </div>
        </div>
        <div class="col-sm-4">
          <div class="my_border p-2" style="height: 100%;">
            <div class="chart-container">
              <h5 class="mb-2">No. Companies / Year Founded</h5>
                <canvas id="chart"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <h4 class="mt-5 pb-3" style="margin-left: 1rem;">Top 10 / Month</h4>
      <%- include("carousel")  %> 
    </div>
    <div style="margin-left: 1rem;" class="my-3">
      <div class="row py-3">
        <div class="dropdown my_border p-3">
          <h5 class="mb-3">Companies with similarities</h5>
          <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Choose the Company
          </button>
          <ul class="dropdown-menu">
            <% for (const [key, value] of Object.entries(comp_cat)) { %>
              <% if (comp_cat[key]["similarities"] != null) { %>
                <li><a class="dropdown-item simss"><%= key %></a></li>
              <% } %>
            <% } %>
          </ul>
          <div class="row p-3">
            <% for (const [key, value] of Object.entries(comp_cat)) { %>
              <% if (value["similarities"] != null) { %>
                <div class="my_border" style="display: none;" id="<%= key %>">
                  <div class="p-3">
                    <h4><%= key %></h4>
                    <h4>Categories: <%= comp_cat[key].categories %></h4>
                  </div>
                    <div class="row" style="justify-content: space-evenly;">
                      <% value["similarities"].forEach((sim) => { %>
                        <div class="col-md-3 my_border p-2 m-2">
                          <div class="row"><%= sim[0] %></div>
                          <div class="row"><%= sim[1] %></div>
                          <% if (comp_cat[sim[0]] != null) { %>
                          <div class="row"><%= comp_cat[sim[0]].categories %></div>
                          <% } %>
                        </div>
                      <% }) %>
                    </div>
                </div>
              <% } %>
            <% } %>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
      var id_comp = ""
      var activated = null;

      $(document).ready(function () {
        $('.simss').on('click', function () {
          if (activated != null) {
            activated.style["display"] = "none";
          }
          id_comp= ($(this).text());
          activated = document.getElementById(id_comp);
          activated.style["display"] = "contents";
        });
      });
    </script>
</div>